/* You can add global styles to this file, and also import other style files */
@import "assets/styles/variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: $white-bg;
  color: $dark-color;
}
a{
  color: $primary-color;
  text-decoration: none;

  &:hover{
    color: $hover-color;
  }
}
ul{
  list-style: none;
}
input{
  display: block;
  width: 100%;
  padding: .4rem;
  font-size: 1rem;
  border: 1px solid $border-color;
  margin-bottom: .5rem;
  ;
}
.container{
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 .2rem;
}
table th{
  background: $light-color;
}
.btn{
  display: inline-block;
  background: $light-color;
  color: $dark-color;
  padding: .4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
  transition: opacity .2s;
  outline: none;

  &:disabled{
    background-color: $dark-color;
    color: $white-bg;
    cursor: not-allowed;


  }
  &:hover:not(:disabled){
    opacity: .8
  }
}
.btn-block{
  display: block;
  width: 100%;
}
.btn-primary{
  background: $primary-color;
  color: $white-bg;
}
.text-center{
  text-align: center;
}

